<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login or Register</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/registerLogin.css' %}">
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up">
        <form id="signUpForm" method="post" action="{% url 'user_action' %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="action" value="Sign Up">
            <h1>Create Account</h1>
            <span>Use your email for registration</span>
            <input type="text" name="Rname" placeholder="Name" required>
            <input type="email" name="Remail" placeholder="Email" required>
            <input type="password" name="Rpassword" placeholder="Password" required>
            <button type="submit">Sign Up</button>
        </form>
    </div>
    <div class="form-container sign-in">
        <form id="signInForm" method="post" action="{% url 'user_action' %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="action" value="Sign In">
            <h1>Sign In</h1>
            <span>Use your email and password</span>
            <input type="email" name="Lemail" placeholder="Email" required>
            <input type="password" name="Lpassword" placeholder="Password" required>
            <a href="#">Forget Your Password?</a>
            <button type="submit">Sign In</button>
        </form>
    </div>
    <div class="toggle-container">
        <div class="toggle">
            <div class="toggle-panel toggle-left">
                <h1>Welcome Back!</h1>
                <p>Enter your personal details to use all of site features</p>
                <button class="hidden" id="login">Sign In</button>
            </div>
            <div class="toggle-panel toggle-right">
                <h1>Hello, User!</h1>
                <p>Register with your personal details to use all of site features</p>
                <button class="hidden" id="register">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
