<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/success.css' %}">
</head>
<body>
    <div class="container profile-container">
        <h1>Welcome, {{ user.username }}!</h1>
        <div class="profile-details">
            <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
            <p><strong>Email:</strong> {{ user.email }}</p>
        </div>
        <a href="{% url 'logout' %}" class="btn">Logout</a>
    </div>

</body>
</html>
