* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  /* background: linear-gradient(to right, #f5ff82, #648bff); */
  background-color: #d7d7d7;
}

#heading1{
  padding: 15px 15px !important;
  align-items: center !important;
  justify-content: center;
  display: flex;
  font-size: 25px;
  color: #0a1aff;
  font-weight: bold;
  margin-bottom: 7px !important;
}

.header-logo {
  height: 72px; 
  margin-right: 15px; 
  border-radius: 50%;
  border: 2px solid #0a1aff; /* Optional: Add a border */
}

.hero {
  display: flex;
  justify-content: center !important; 
  align-items: center; 
  padding: 0 15px; 
}

.container {
  flex: 1; /* Make the container take up remaining space */
  display: flex;
  justify-content: flex-start; 
  align-items: center; 
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(156, 156, 156);
  height: 65vh;

}

#gif-image {
  max-width: 50%;
  height: 60vh; 
  height: fit-content !important;
}


.rounded-image {
  border-radius: 50%; /* Makes the image circular */
  object-fit: cover; 
}

#row {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
  text-align: left; 
  padding-left: 20px; 
}


.container2{
  margin-left: 20px !important;
}

.container3{
  width: 95% !important;
}


.p-edit {
  font-size: 18px !important;
  margin-bottom: 18px;
  text-align: left;
  padding-right: 0 !important;
  color: black;
  
}

#p-text{
  color: black;
  font-size: 22px !important;
  font-weight: bold;
  margin-bottom: 18px !important;
}

.button-container {
  display: flex;
  justify-content: center; /* Center the button horizontally */
  width: 100%; /* Ensures the button aligns to the full row width */
}

#button {
  background-color:  rgb(15, 15, 200);
  border-radius: 7px;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#button:hover {
  background-color: rgb(22, 22, 158);
}

.button-container {
  text-align: left !important;
}

/* Features Section Styling */
#card-section{
  padding-bottom: 20px !important;
  width: 95% !important;
  padding-left: 4% !important
}

#cardbox-middle{
  padding-bottom: 12px !important;
  padding-top: 20px !important;
}

.features .card {
  transition: transform 0.2s;
}

.features .card:hover {
  transform: scale(1.05);
}

h2{
  padding-bottom: 20px !important;
}

.heading-blue{
  color: rgb(13, 13, 228) !important;
}

.card-title{
  font-weight: bold;
}

footer {
  padding-left: 4.5% !important;
}


@media (max-width: 1302px) {
 
  #p-text{
    font-size: 18px !important;
  }

  .p-edit{
    margin-bottom: 15px !important;
    font-size: 16px !important;

  }

  .container{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }


 #gif-image {
   height: 60vh !important;
   
  }  
}



@media (max-width: 981px) {
  #row{
    width: 55% !important;
    margin-left: 0px !important;
    padding-right: 10px !important;
    
  }

  .container{
    margin-left: 0px !important;
  }

  #gif-image {
    height: 70vh !important;
    width: 75% !important;

  }

  .container{
    gap: 0 !important;
    height: 30% !important;
    margin-right: 0 !important;
  }

}

@media (max-width: 620px) {
  #gif-image {
    height: 80vh !important;
    width: 80% !important;
  }

  }

  @media (max-width: 550px) {
    .container {
      flex-direction: column; 
      align-items: center; 
      gap: 10px; 
    }
  
    #row {
      width: 95% !important; 
      text-align: center; 
    }
  

    #gif-image{
      max-width: 100% !important;
      height: fit-content !important;
    }

    .p-edit{
      padding-left: 0 !important;
    }

    .button-container{
      padding-left: 0 !important;
    }

    #p-text{
      padding-left: 0 !important;
    }

    #card-1, #card-2, #card-3{
      padding-left: 0 !important;
    }

  }


  @media (max-width: 382px) {
    #heading1{
      font-size: 20px !important;
    }
  }

  @media (max-width: 768px) {
    #gif-image{
      width: 80% !important;
    }
  }

  @media (max-width: 1440px) and (min-width: 1302px) { 
    #gif-image {
      height: 65vh !important;
    }
  }
