
        body {
            color: #f1faee;
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .container {
            background: rgba(0, 0, 0, 0.7);
            padding: 40px;
            border-radius: 15px;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
            text-align: center;
        }

        h1 {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #a8dadc;
        }

        #info {
            background: linear-gradient(90deg, #06d6a0, #118ab2);
            border-radius: 10px;
            padding: 20px;
            font-size: 1.2rem;
            font-weight: 500;
            color: #ffffff;
            box-shadow: 0px 4px 15px rgba(6, 214, 160, 0.6);
        }

        .btn {
            background: linear-gradient(90deg, #457b9d, #1d3557);
            border: none;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 30px;
            transition: all 0.3s ease;
            width: auto;
        }

        .btn:hover {
            background: linear-gradient(90deg, #1d3557, #457b9d);
            transform: scale(1.1);
        }

        @media (max-width: 768px) {
            .container {
                padding: 20px;
            }

            h1 {
                font-size: 2rem;
            }

            #info {
                font-size: 1rem;
            }

            .btn {
                font-size: 0.9rem;
                width: 60%;
            }
        }

        @media (max-width: 576px) {
            .container{
                max-width: 95% !important;
                height: 40% !important;

            }

            #info{
                margin-top: 35px !important;
            }

            .btn{
                margin-top: 27px !important;
            }
        }
   