/* CSS for success page */

.profile-container {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.profile-details {
    margin-top: 20px;
}

.profile-details p {
    font-size: 16px;
    line-height: 1.5;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5bc0de;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.btn:hover {
    background-color: #31b0d5;
}
